---
import TestCount from "../components/TestCount.vue";
import ThemeSwitcher from "../components/ThemeSwitcher.vue";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Front-end Quiz"
  description="An app for taking quiz about front-end development"
>
  <a href="/results">To results</a>
  <ThemeSwitcher client:load />
  <TestCount client:load />
</PageLayout>
